
{% extends '::master.html.twig' %}

{% block title %}Crea Avance{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('bundles/nota/css/nota.css') }}"rel="stylesheet" type="text/css" />

{% endblock %}

{% block javascripts %}

<script src="{{ asset('bundles/nota/js/ckeditor.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/nota/js/config.js') }}" type="text/javascript"></script>

{% endblock %}


{% block id 'creanota' %}
{% block article %}

<div><h1>pagina para crear un avance de nota</h1></div>

<form action="{{ path('avance') }}" method="post">
     
{{ form_widget(formulario) }}

<script type="text/javascript">
        CKEDITOR.replace("{{ 'Avance' }}");
</script>

<script type="text/javascript">
        CKEDITOR.replace("{{ 'Inserto' }}");
</script>

<br>Editor
</br>
<select name="Editor" id="Editor">

{% for useredit in useredits %}

      <option value="{{useredit.nombre}} {{useredit.apellidos}} "> {{ useredit.nombre }} {{useredit.apellidos}}

      </option>"

{% endfor%}

</select>

<br>Camarografo
</br>
<select name="Camarografo" id="Camarografo">

{% for usercam in usercams %}

      <option value="{{usercam.nombre}} {{usercam.apellidos}} "> {{ usercam.nombre }} {{usercam.apellidos}}

      </option>"

{% endfor%}

</select>


<br>Fuentes
</br>
<select name="Fuente" id="Fuente">

{% for fuente in fuentes %}

      <option value="{{fuente.nombre}}"> {{ fuente.nombre }}

      </option>"

{% endfor%}

</select>




<br>Avance
</br>
<static><textarea  class="ckeditor" id="Avance" name="Avance" required></static>&lt;p&gt;Ingrese aqui su avance.&lt;/p&gt;</textarea>
<br>Inserto
</br>
<static><textarea  class="ckeditor" id="Inserto" name="Inserto" required></static>&lt;p&gt;Ingrese aqui su inserto.&lt;/p&gt;</textarea>


<input class="boton" type="submit" value="Crear nota" />
</form>


{% endblock %}
{% block aside %}{% endblock %}

