{% extends '::master.html.twig' %}

{% block title %}Login Noticias{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('bundles/usuario/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
	<!--<div id="content_header">-->
		<div class="header">
			<div class="logo"></div>
			<div class="menu"></div>
		</div>
	<!--</div>-->
{% endblock %}

{% block article %}

	

  
        {% for avance in avances %}
		{{ avance.id }}
		<br/>
		{{ avance.titulo }}
                 
                {%set id = avance.id%}
                <form action="{{ path('tabla_avance_opciones',{ 'opcion': 'ver'}) }}" method="post">
                <input type="hidden" name="id" id="id" VALUE= {{ id }}>

                <input type=submit value="ver">

                 </form>

                <form action="{{ path('tabla_avance_opciones',{ 'opcion': 'editar'}) }}" method="post">
                <input type="hidden" name="id" id="id" VALUE= {{ id }}>

                <input type=submit value="editar">
                 </form>
            

	{% endfor%} 

     


{% endblock %}


