{% extends '::master.html.twig' %}

{% block title %}Login Noticias{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('bundles/usuario/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
		<div class="header">
			<div class="logo"></div>
			<div class="menu">{% extends 'NotaBundle:Default:menu.html.twig' %}</div>
		</div>
{% endblock %}

{% block article %}
	{% for avance in avances %}
		{{ avance.id }}
		<br/>
		{{ avance.titulo }}
<<<<<<< HEAD
		<br/>
		{{ avance.usuario.nombre }}
		<br/>
=======
                <a href="{{ path('tabla_avance_opciones',{ 'opcion': 'ver' ,'nota': avance } ) }}">ver</a>

                   
                   
                     

>>>>>>> 5f56f34f8a4a15cf8697b286fcf349950bb3338d
	{% endfor%}
{% endblock %}
