
{% extends '::master.html.twig' %}

{% block title %}Login Noticias{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('bundles/usuario/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
	<!--<div id="content_header">-->
		<div class="header">
			<div class="logo"></div>
			<div class="menu"></div>
		</div>
	<!--</div>-->
{% endblock %}

{% block article %}



{{ avance.id }}
{{ avance.titulo }}
{{ avance.fechacrea |date("Y/m/d") }}
{{ avance.fechasucc |date("Y/m/d") }}
{{ avance.camarografo }}
{{ avance.fuente }}
{{ avance.avance | striptags }}

     


{% endblock %}
{% block aside %}{% endblock %}

